# virtual env
.venv/
venv/
env/

# python cache
__pycache__/
*.py[cod]
*$py.class

# notebook junk
notebooks/
.ipynb_checkpoints/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# logs + outputs (if you have them)
*.log
*.egg-info/

src/etl/paths.py